* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
  /* Palet Warna Baru Anda */
  --bg-cream: #F2EFE7;
  --accent-light: #9ACBD0;
  --primary-teal: #48A6A7;
  --primary-dark: #2973B2;

  /* Warna Netral Pendukung (Teks & Border) */
  --text-main: #1f2937;
  --text-muted: #6b7280;
  --border-light: #e5e7eb;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-cream); /* Background aplikasi menggunakan warna cream Anda */
  color: var(--text-main);
}